In [1]:
# Nettoyage de la table RealGdp.xls

In [2]:
import os
import numpy as np
import pandas as pd
import statsmodels as stat
import numbers
import matplotlib.pyplot as plt

In [3]:
#On utilisera data_directory pour aller chercher nos données
wd=os.getcwd()    #votre dossier local (qui est un clone du repo du groupe) a son nom bien à lui. 
data_directory = wd+"\\Donnees" 
data_directory

'C:\\Users\\tayoy\\Documents\\GitHub\\Statapp-Macroeconomie\\Donnees'

In [4]:
file="RealGDPYanis.xls" #fichier manuellement modifié pour supprimer les en-têtes qui empêchaient sa lecture par pd.read_excel
pthfile=data_directory+"\\\\"+"RealGDP_SansHeaders.xls"

In [5]:
df = pd.read_excel(io=pthfile,index_col = 0 ,usecols = "A:IU",header=0)

In [6]:
#Séparation des infos non numériques. On les garde dans ce petit DataFrame au cas où
infos_data = df[['Scale','Base Year']] 
infos_data.head()

              Scale  Base Year
Country
Argentina  Millions       2004
Australia  Millions  2019/2020
Austria    Millions       2010
Belgium    Millions       2010
Brazil     Millions       1995

In [7]:
#création du dataFrame qui nous intéresse vraiment :
GDP = df.iloc[:,2:].T #sélection des colones et transposition

In [8]:
types=GDP.applymap(lambda x: isinstance(x,numbers.Number)) #Identifie les entrées qui ne sont pas des nombres (le xls est lu tels que les NaN sont des '...' de type str)
GDP=GDP[types].astype(float) #Remplace les entrées qui ne sont pas des nombres par des NaN
GDP

Country,Argentina,Australia,Austria,Belgium,Brazil,Bulgaria,Canada,Chile,"China, P.R.: Hong Kong",Colombia,...,"Slovenia, Rep. of",South Africa,Spain,Sweden,Switzerland,Thailand,Turkey,Ukraine,United Kingdom,United States
1959Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,131520.0,780994.5
1959Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,133707.0,798607.3
1959Q3,NaN,62496.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136581.0,799170.8
1959Q4,NaN,63043.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140079.0,801447.5
1960Q1,NaN,67915.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,143570.0,819461.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020Q4,163301.7,501813.0,79734.730780,100043.966054,299623.4,21777.718752,514546.3,46537443.2,679008.0,214633610.2,...,10619.830322,1111674.3,269566.635497,1.071992e+06,182150.544321,2.579382e+06,506899.992355,635655.0,529647.0,4731065.5
2021Q1,169125.2,511583.0,78915.891427,101361.263667,302822.6,22138.952142,520170.0,48285334.0,718205.0,221699323.3,...,10792.866011,1120822.6,268950.235491,1.089949e+06,181929.294908,2.600970e+06,520163.836978,634972.0,523440.0,4804056.0
2021Q2,168080.6,514593.0,82214.082169,103095.968922,301977.0,22369.616160,516050.0,48945235.1,705944.0,216791642.3,...,11007.054814,1136378.6,272586.995526,1.099813e+06,185552.236380,2.600670e+06,530540.881852,641111.0,552521.0,4886062.0
2021Q3,174578.4,505177.0,85658.134642,105262.956032,302156.5,22593.696199,522799.0,51117959.9,710624.0,230740513.7,...,11145.300934,1115904.7,281059.513027,1.117734e+06,188884.795188,2.576916e+06,544942.322967,652690.0,557700.0,4918148.5
2021Q4,177426.6,524644.0,84562.481251,105711.971379,304497.9,22866.891105,531177.3,52006921.5,710658.0,237339429.5,...,11728.023861,1131186.0,287426.328572,1.132609e+06,189089.381703,2.623698e+06,553528.643417,665195.0,564812.0,5001545.3

In [9]:
#Remplacement des index (str de format '1959Q1') par des floats pour faciliter les traitements
GDP['Time']=([float(i[:4])+(float(i[-1])-1)/4 for i in (list(GDP.index))])
GDP.set_index(['Time'], inplace=True)

In [11]:
GDP

Country  Argentina  Australia       Austria        Belgium    Brazil  \
Time
1959.00        NaN        NaN           NaN            NaN       NaN
1959.25        NaN        NaN           NaN            NaN       NaN
1959.50        NaN    62496.0           NaN            NaN       NaN
1959.75        NaN    63043.0           NaN            NaN       NaN
1960.00        NaN    67915.0           NaN            NaN       NaN
...            ...        ...           ...            ...       ...
2020.75   163301.7   501813.0  79734.730780  100043.966054  299623.4
2021.00   169125.2   511583.0  78915.891427  101361.263667  302822.6
2021.25   168080.6   514593.0  82214.082169  103095.968922  301977.0
2021.50   174578.4   505177.0  85658.134642  105262.956032  302156.5
2021.75   177426.6   524644.0  84562.481251  105711.971379  304497.9

Country      Bulgaria    Canada       Chile  China, P.R.: Hong Kong  \
Time
1959.00           NaN       NaN         NaN                     NaN
1959.25           NaN       NaN         NaN                     NaN
1959.50           NaN       NaN         NaN                     NaN
1959.75           NaN       NaN         NaN                     NaN
1960.00           NaN       NaN         NaN                     NaN
...               ...       ...         ...                     ...
2020.75  21777.718752  514546.3  46537443.2                679008.0
2021.00  22138.952142  520170.0  48285334.0                718205.0
2021.25  22369.616160  516050.0  48945235.1                705944.0
2021.50  22593.696199  522799.0  51117959.9                710624.0
2021.75  22866.891105  531177.3  52006921.5                710658.0

Country     Colombia  ...  Slovenia, Rep. of  South Africa          Spain  \
Time                  ...
1959.00          NaN  ...                NaN           NaN            NaN
1959.25          NaN  ...                NaN           NaN            NaN
1959.50          NaN  ...                NaN           NaN            NaN
1959.75          NaN  ...                NaN           NaN            NaN
1960.00          NaN  ...                NaN           NaN            NaN
...              ...  ...                ...           ...            ...
2020.75  214633610.2  ...       10619.830322     1111674.3  269566.635497
2021.00  221699323.3  ...       10792.866011     1120822.6  268950.235491
2021.25  216791642.3  ...       11007.054814     1136378.6  272586.995526
2021.50  230740513.7  ...       11145.300934     1115904.7  281059.513027
2021.75  237339429.5  ...       11728.023861     1131186.0  287426.328572

Country        Sweden    Switzerland      Thailand         Turkey   Ukraine  \
Time
1959.00           NaN            NaN           NaN            NaN       NaN
1959.25           NaN            NaN           NaN            NaN       NaN
1959.50           NaN            NaN           NaN            NaN       NaN
1959.75           NaN            NaN           NaN            NaN       NaN
1960.00           NaN            NaN           NaN            NaN       NaN
...               ...            ...           ...            ...       ...
2020.75  1.071992e+06  182150.544321  2.579382e+06  506899.992355  635655.0
2021.00  1.089949e+06  181929.294908  2.600970e+06  520163.836978  634972.0
2021.25  1.099813e+06  185552.236380  2.600670e+06  530540.881852  641111.0
2021.50  1.117734e+06  188884.795188  2.576916e+06  544942.322967  652690.0
2021.75  1.132609e+06  189089.381703  2.623698e+06  553528.643417  665195.0

Country  United Kingdom  United States
Time
1959.00        131520.0       780994.5
1959.25        133707.0       798607.3
1959.50        136581.0       799170.8
1959.75        140079.0       801447.5
1960.00        143570.0       819461.8
...                 ...            ...
2020.75        529647.0      4731065.5
2021.00        523440.0      4804056.0
2021.25        552521.0      4886062.0
2021.50        557700.0      4918148.5
2021.75        564812.0      5001545.3

[252 rows x 61 columns]